
    
        
<div class="card text-center  mb-4">
    <div class="card-header bg-primary">
      <h4 class="card-title text-light">job title</h4> 
    </div>
    <div class="card-body">
       
        <p class="card-text text-black-50"><strong>company</strong></p>
        <p class="card-text text-muted">country - city</p>
       
        <div class="card-footer ">
             <a href={% url 'jobs:job-detail' job.id %} class="btn btn-link ">More details</a>
           
        </div>
       <small class="card-text text-muted">tow days ago </small>
    </div>
</div>
<hr>



